[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
mitdeeplearning = "*"
ipykernel = "*"
matplotlib = "*"
comet-ml = "*"
scipy = "*"
opencv-python = "*"
jupyter = "*"
notebook = "*"
jupyterlab = "*"
jupyter-console = "*"
console = "*"
qtconsole = "*"

[dev-packages]

[requires]
python_version = "3.11"
